<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- ros_control plugin -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/aleph2</robotNamespace>
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
    </plugin>
  </gazebo>

  <gazebo reference="base_link">
    <material>Gazebo/Grey</material>
  </gazebo>

  <gazebo reference="rocker_R_link">
    <material>Gazebo/Blue</material>
  </gazebo>

  <gazebo reference="rocker_L_link">
    <material>Gazebo/Blue</material>
  </gazebo>

  <gazebo reference="wheel_FL_link">
    <material>Gazebo/FlatBlack</material>
    <mu1>3.0</mu1>
    <mu2>0.5</mu2>
    <fdir1>1 0 0</fdir1>
  </gazebo>

  <gazebo reference="wheel_FR_link">
    <material>Gazebo/FlatBlack</material>
    <mu1>3.0</mu1>
    <mu2>0.5</mu2>
    <fdir1>1 0 0</fdir1>
  </gazebo>

  <gazebo reference="wheel_RL_link">
    <material>Gazebo/FlatBlack</material>
    <mu1>3.0</mu1>
    <mu2>0.5</mu2>
    <fdir1>1 0 0</fdir1>
  </gazebo>

  <gazebo reference="wheel_RR_link">
    <material>Gazebo/FlatBlack</material>
    <mu1>3.0</mu1>
    <mu2>0.5</mu2>
    <fdir1>1 0 0</fdir1>
  </gazebo>

  <gazebo reference="mast_link">
    <material>Gazebo/White</material>
  </gazebo>

  <gazebo reference="manip_base_link">
    <material>Gazebo/Grey</material>
  </gazebo>

  <gazebo reference="manip_shoulder_link">
    <material>Gazebo/Grey</material>
    <selfCollide>true</selfCollide>
  </gazebo>

  <gazebo reference="manip_elbow_link">
    <material>Gazebo/Grey</material>
    <selfCollide>true</selfCollide>
  </gazebo>

  <gazebo reference="manip_wrist_link">
    <material>Gazebo/Grey</material>
    <selfCollide>true</selfCollide>
  </gazebo>

  <gazebo reference="manip_gripper_link">
    <material>Gazebo/Grey</material>
    <selfCollide>true</selfCollide>
  </gazebo>

  <gazebo reference="manip_jaw_L_link">
    <material>Gazebo/Grey</material>
    <selfCollide>true</selfCollide>
  </gazebo>

  <gazebo reference="manip_jaw_R_link">
    <material>Gazebo/Grey</material>
    <selfCollide>true</selfCollide>
  </gazebo>

  <!-- rocker differential -->
  <!-- <xacro:unless value="$(arg rockers_fixed)">
    <gazebo>
      <plugin name="rocker_differential" filename="libgazebo_differential_plugin.so">
        <jointA>rocker_L_joint</jointA>
        <jointB>rocker_R_joint</jointB>
        <forceConstant>100.0</forceConstant>
      </plugin>
    </gazebo>
  </xacro:unless> -->

</robot>
