<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- LINKS -->

  <link name="base_footprint"/>

  <link name="base_link">
    <visual>
      <geometry>
        <mesh filename="package://aleph2_description/models/base.STL" />
      </geometry>
      <origin xyz="0 0 0" rpy="${pi/2} 0 ${pi/2}"/>
      <material name="base" />
    </visual>
    <visual>
      <geometry>
        <cylinder radius="0.02" length="0.12" />
      </geometry>
      <origin xyz="0.06 0.125 0.063" />
      <material name="motor">
        <color rgba="0 0 0.5 1"/>
      </material>
    </visual>
    <visual>
      <geometry>
        <cylinder radius="0.016" length="0.1" />
      </geometry>
      <origin xyz="0.151 0.175 0.053" />
      <material name="encoder">
        <color rgba="0 0.5 0 1"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <box size="0.72 0.5 0.1"/>
      </geometry>
      <origin xyz="-0.08 0 0"/>
    </collision>
    <collision>
      <geometry>
        <box size="0.16 0.5 0.1"/>
      </geometry>
      <origin xyz="-0.06 0 0.09"/>
    </collision>
    <collision>
      <geometry>
        <cylinder radius="0.02" length="0.12" />
      </geometry>
      <origin xyz="0.06 0.125 0.063" />
    </collision>
    <collision>
      <geometry>
        <cylinder radius="0.016" length="0.1" />
      </geometry>
      <origin xyz="0.151 0.175 0.053" />
    </collision>
    <inertial>
      <origin xyz="-0.06700 0.00064 0.00551"/>
      <mass value="9.0" />
      <inertia ixx="0.23691" ixy="-0.00014" ixz="-0.00314" 
               iyy="0.23328" iyz="-0.00054" izz="0.40961" />
    </inertial>
  </link>

  <xacro:macro name="rocker" params="name">
    <link name="rocker_${name}_link">
      <visual>
        <geometry>
          <mesh filename="package://aleph2_description/models/rocker.STL"/>
        </geometry>
        <material name="rocker" />
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://aleph2_description/models/rocker_collision.STL" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0.00000 -0.01737 0.03763"/>
        <mass value="1.5" />
        <inertia ixx="0.01934" ixy="-0.00942" ixz="-0.00271" 
                 iyy="0.03716" iyz="0.00516"  izz="0.04409" />
      </inertial>
    </link>
  </xacro:macro>

  <xacro:rocker name="R" />
  <xacro:rocker name="L" />

  <link name="mast_link">
    <visual>
      <geometry>
        <cylinder radius="0.02" length="1.3" />
      </geometry>
      <origin xyz="0 0 0.65" rpi="0 0 0"/>
      <material name="mast" />
    </visual>
    <collision>
      <geometry>
        <cylinder radius="0.03" length="1.3" />
      </geometry>
      <origin xyz="0 0 0.65" rpi="0 0 0"/>
    </collision>
    <collision>
      <geometry>
        <cylinder radius="0.1" length="0.7" />
      </geometry>
      <origin xyz="0 0 0.95" rpi="0 0 0"/>
    </collision>
    <inertial>
      <mass value="1.0" />
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
    </inertial>
  </link>

  <!-- JOINTS -->

  <joint name="base_joint" type="fixed">
    <origin xyz="0 0 0.33" rpy="0 0 0"/>
    <parent link="base_footprint"/>
    <child link="base_link"/>
  </joint>

  <xacro:if value="$(arg rockers_fixed)">
    <xacro:property name="rockers_joint_type" value="fixed"/>
  </xacro:if>
  <xacro:unless value="$(arg rockers_fixed)">
    <xacro:property name="rockers_joint_type" value="revolute"/>
  </xacro:unless>

  <joint name="rocker_R_joint" type="${rockers_joint_type}">
    <parent link="base_link"/>
    <child link="rocker_R_link"/>
    <origin xyz="0 -0.375 0" rpy="${pi/2} 0 ${pi}"/>
    <axis xyz="0 0 1"/>
    <limit effort="100.0" lower="-0.3" upper="0.3" velocity="100.0"/>
    <dynamics friction="1.0" damping="0.5"/>
  </joint>

  <joint name="rocker_L_joint" type="${rockers_joint_type}">
    <parent link="base_link"/>
    <child link="rocker_L_link"/>
    <origin xyz="0 0.375 0" rpy="${pi/2} 0 0"/>
    <axis xyz="0 0 1"/>
    <limit effort="100.0" lower="-0.3" upper="0.3" velocity="100.0"/>
    <dynamics friction="1.0" damping="0.5"/>
  </joint>

  <joint name="mast_joint" type="fixed">
    <parent link="base_link" />
    <child link="mast_link" />
    <origin xyz="-0.22 0.25 -0.15"/>
  </joint>

</robot>