<launch>

  <arg name="gui" default="true" />
  <arg name="model" default="$(find aleph2_description)/urdf/aleph2.urdf.xacro"/>

  <arg name="source_list" default="[manipulator_joint_states]" />
  <arg name="published_topic" default="joint_states" />
  <arg name="zeros" default="{manip_shoulder_joint: 1.5708}" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" required="true" output="screen">
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />
    <param name="use_gui" value="$(arg gui)" />
    <param name="publish_default_efforts" value="true" />
    <rosparam param="zeros" subst_value="true">$(arg zeros)</rosparam>
    <rosparam param="source_list" subst_value="true">$(arg source_list)</rosparam>
    <remap from="joint_states" to="$(arg published_topic)" />
  </node>

</launch>
