<launch>
    <group ns="aleph1">
        <node name="robot_state_publisher" 
              pkg="robot_state_publisher" 
              type="robot_state_publisher" 
              output="screen"/>

        <node name="joint_state_publisher" 
              pkg="joint_state_publisher" 
              type="joint_state_publisher" 
              output="screen">
            <!-- <param name="publish_default_positions" value="false"/> -->
            <rosparam param="source_list">[fake_joint_states]</rosparam>
        </node>

    </group>
</launch>